@keyframes heartbeat {
    from {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }

    // from {
    //     transform: translateX(0%);
    // }
    // 25% {
    //     transform: translateX(30px);
    // }
    // 50% {
    //     transform: translateX(0%);
    // }
    // 75% {
    //     transform: translateX(-30px);
    // }
    // to {
    //     transform: translateX(0%);
    // }
}