@media (max-width:1200px) {
    .carousel {
        padding: 81px 0 60px 0;
        .prev,
        .next {
            display: none;
        }
        &__inner {
            img {
                width: 80%;
            }
        }
    }
}
@media(max-width:991px) {
    // .container {
    //     // max-width: 720px;
    //     padding: 0 20px;
    // }
    .container {
        padding: 0 20px;
    }
    .header {
        justify-content: space-around;
    }
    .promo {
        &__wrapper {
            align-items: center;
        }
    }
    .advantages {
        &__icons {
            flex-direction: column;
            align-items: center;
        }
    }
    .consultation {
        &__wrapper {
            align-items: center;
        }
        &__text {
            font-size: 18px;
            br {
                display: none;
            }
        }
    }
    .title {
        &_big {
            text-align: center;
            font-size: 30px;
        }
    }
    .catalog {
        &__content {
            justify-content: space-around;
        }
    }
    .reviews {
        // &__round {
        //     display: none;
        // }
        &__content {
            width: 725px;
        }
    }
    .footer {
        &__info {
            width: 400px;
            height: 240px;
        }
        &__address {
            font-size: 16px;
        }
        &__phone {
            font-size: 16px;
        }
        &__link {
            width: 40px;
            height: 40px;
            img {
                height: 20px;
            }
        }
    }


}

@media(max-width:767px) {
    .header {
        &__logo {
            width: 180px;
        }
        &__official {
            font-size: 10px;
            span {
                font-size: 15px;
            }
        }
        &__phone {
            font-size: 17px;
        }
    }
    .promo {
        &__header {
            font-size: 35px;
        }
        &__subheader {
            font-size: 22px;
        }
    }
    .consultation {
        &__text {
            font-size: 18px;
            text-align: center;
            br {
                display: inline;
            }
        }
    }
    .catalog {
        &__tab {
            width: 150px;
            font-size: 14px;
        }
        &__content {
            justify-content: space-around;
        }
    }
    .reviews {
        &__content {
            width: 530px;
        }
        &__item {
            flex-direction: column;
            align-items: center;
        }
        &__round {
            margin-right: 0;
            margin-bottom: 10px;
        }
        &__name,
        &__maraphon {
            text-align: center;
        }
    }
    .footer {
        &__info {
            width: 300px;
            height: 215px;
        }
    }
    .modal {
        width: 310px;
        min-height: 380px;
        &__subtitle {
            font-size: 14px;
        }
        .feed-form {
            width: 230px;
            input {
                height: 40px;
            }
            .button {
                height: 45px;
            }
        }
    }
}

@media(max-width:575px) {
    // .header {
    //     flex-direction: column;
    //     &__official {
    //         span {
    //             display: inline;
    //             margin-left: 20px;
    //         }
    //     }
    //     &__phone {
    //         margin-right: 20px;
    //     }
    //     // flex-wrap: wrap;
    //     &__contacts {
    //         // width: 100%;
    //         align-items: center;
    //         flex-direction: row;
    //     }
    // }
    // .header {
    //     flex-direction: column;
    //     gap: 15px;
    //     // &__official {
    //     //     // span {
    //     //     //     display: inline;
    //     //     // }
    //     // }
    //     &__phone {
    //         font-size: 14px;
    //     }
    //     // &__contacts {
    //     //     flex-direction: row;
    //     // }
    //     // .button {
    //     //     width: 100px;
    //     // }
    // }
    .header {
        display: none;
    }
    .header-hidden {
        display: block;
        position: absolute;
        left: -100%;
        transition: 0.6s all;
        &_active {
            left: 5%;
        }
    }
    .promo {
        &__header {
            text-align: center;
            font-size: 30px;
        }
        &__subheader {
            text-align: center;
            font-size: 18px;
        }
        &__icons {
            width: 300px;
            flex-direction: column;
            align-items: center;
        }
        &__icon {
            margin-bottom: 20px;
        }
        &__burger-wrapper {
            display: flex;
        }
    }
    .title {
        font-size: 20px;
    }
    .consultation {
        &__text {
            font-size: 14px;
        }
    }
    .feed-form {
        width: 270px;
    }
    .catalog {
        &__tabs {
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        &__tab {
            &:hover {
                box-shadow: 2px 2px 10px #6b6b6b;
                border: none;
            }
        }
    }
    .reviews {
        &__round {
            display: none;
        }
        &__content {
            width: 300px;
        }
        &__name,
        &__maraphon {
            text-align: left;
        }
        &__name,
        &__text {
            font-size: 14px;
        }
        &__maraphon {
            font-size: 12px;
        }
    }
    .footer {
        &__info {
            padding: 25px 0;
            width: 250px;
            height: 150px;
        }
        &__address {
            font-size: 14px;
        }
        &__phone {
            margin-top: 20px;
            font-size: 14px;
        }
        &__social {
            margin-top: 20px;
        }
    }
    .modal {
        width: 260px;
        min-height: 380px;
        padding: 25px;
        &__close {
            right: 5px
        }
        &__subtitle {
            font-size: 14px;
        }
        &__desc {
            font-size: 12px;
        }
        .feed-form {
            margin: 25 auto 0 auto;
            width: 210px;
            input {
                height: 40px;
            }
            .button {
                height: 55px;
                padding-bottom: 10px;
            }
        }
    }
}