.container {
    max-width: 950px;
    margin: 0 auto;
    position: relative;
}
body {
    position: relative;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/advantages';
@import 'blocks/title.scss';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/burger';
@import 'blocks/header-hidden';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'blocks/catalog_item';
@import 'blocks/reviews';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';

// color: green