.catalog-item {
    width: 303px;
    min-height: 442px;
    padding: 20px;
    border: 2px solid #d0d0d0;
    hr {
        width: 260px;
        margin-top: 17px;
    }
    &__img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        height: 200px;
    }
    &__subtitle {
        margin-top: 15px;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        color: #0d0d0d;
    }
    &__desc {
        margin-top: 15px;
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        color: #0d0d0d;
    }
    &__link {
        display: block;
        margin-top: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        text-decoration: underline;
        text-align: center;
        color: #c70101;
        pointer-events: none;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 17px;
    }
    &__first-price {
        font-weight: 300;
        font-size: 14px;
        line-height: 100%;
        text-decoration: line-through;
        color: #555;
    }
    &__second-price {
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        color: #050505;
        margin-top: 2px;
    }
    &__wrapper {
        width: calc(200% + 40px);
        display: flex;

    }
    &__content {
        width: 50%;
        margin-right: 20px;
        transform: translateX(-100%);
        &_active {
            transform: translateX(0%);
        }

    }
    &__list {
        width: 50%;
        margin-left: 20px;
    }

    // &__content {
    //     transition: transform 0.6s all;
    //     &_hidden {
    //         display: none;
    //     }
    // }
    // &__list {
    //     display: none;
    //     transition: transform 0.6s all;
    //     &_active {
    //         display: block;
    //     }
    // }
}