.catalog-item {
    width: 303px;
    height: 442px;
    padding: 20px;
    border: 2px solid #d0d0d0;
    hr {
        width: 260px;
    }
    &__img {
        display: block;
        margin: 0 auto;
    }
    &__subtitle {
        margin-top: 15px;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        color: #0d0d0d;
    }
    &__desc {
        margin-top: 15px;
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        color: #0d0d0d;
    }
    &__link {
        display: block;
        margin-top: 10px;
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        text-decoration: underline;
        text-align: center;
        color: #c70101;
    }
    &__footer {
        display: flex;
        justify-content: space-between;
    }
    &__first-price {
        font-weight: 300;
        font-size: 14px;
        line-height: 100%;
        text-decoration: line-through;
        color: #555;
    }
    &_second-price {
        font-weight: 700;
        font-size: 20px;
        line-height: 100%;
        color: #050505;
    }
    &__btn {
        width: 131px;
        height: 40px;
        border-radius: 5px;
        border: none;
        background-color: #c70101;
        font-weight: 500;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        color: #fff;
    }
}