@font-face {
    font-family: 'MuseoModerno';
    src: url('../fonts/MuseoModerno-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoModerno';
    src: url('../fonts/MuseoModerno-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}